<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ range .Site.Author }}{{ . }} {{ end }}{{ end }}">
<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.homeSubtitle }}{{ else }}{{ if .Params.Description }}{{ .Params.Description }}{{ else }}{{ .Summary | plainify }}{{ end }}{{ end }}" />
<meta name="keywords" content="{{ .Site.Params.keywords }}{{ if .Params.tags }}{{ range .Params.tags }}, {{ . }}{{ end }}{{ end }}" />
<meta name="robots" content="noodp" />
<meta name="googlebot" content="index">
<meta name="theme-color" content="{{ .Site.Params.themeColor }}" />
<link rel="canonical" href="{{ .Permalink }}" />

<!-- Favicon -->
<link rel="icon" href={{ .Site.Params.favicon | default "/fav.png" }} type="image/gif/icon">


<!-- Tab info -->

<title>
    {{- if .IsHome -}}
      {{ .Site.Title }}
    {{- else if .Params.hide_site_title -}}
      {{ .Page.Title }}
    {{- else if .Page.Title -}}
      {{ .Page.Title }} | {{ .Site.Title }}
    {{- else -}}
      {{ .Site.Title }}
    {{- end -}}
</title> 


<!-- SCSS -->
{{ $options := (dict "targetPath" "main.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options | resources.Fingerprint }}
<link defer rel="stylesheet" href="{{ $style.RelPermalink }}">

<!-- Ttwitter cards-->
{{ template "_internal/twitter_cards.html" . }}

{{- if isset .Params "canonical" -}}
  <link rel="canonical" href="{{ .Params.canonical }}" />
{{- else -}}
  <link rel="canonical" href="{{ .Permalink }}" />
{{- end }}

